.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 2%;
}

.text {
  font-weight: bold;
  font-size: 1.5rem;
}

.profile-image-icon {
  width: max-content;
  background-color: #2dd36f;
}

.icon {
  object-fit: fill;
  width: 15%;
  height: fit-content;
}
