.checkbox {
  display: flex;
  align-items: center;
  width: 100%;

  p {
    margin-left: 10px;
  }

  .checkbox-icon {
    display: flex;
    align-items: center;
    font-size: 25px;

    &.checked {
      color: #09ad08;
    }

    &.unchecked {
      color: lightgray;
    }
  }
}